/* write your override styles here */

.flex-control-thumbs li {
    width: none !important;
    float: none !important;
  }
  .my_fav_font {
    font-family: 'Indie Flower', cursive !important;
    /* This will be applied. */
}
element1 {
  property-x: value_y  !important; /* This will be applied. */
}